{% extends 'Layout/base.html.twig' %}
{% set title = 'Celebrity'|trans %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
	<div class="container" style="background-color: ghostwhite;padding: 20px;">
        <div class="container-fluid">
			<h3 style="text-align: center;font-weight: bold;margin-bottom:25px;">
		        List Celebrity
		    </h3>
		    <div class="row" style="max-height: 525px;overflow: auto;">
		    	<div style="float: right;">
		    		<a class="btn btn-primary" href="{{ path('celebrity_create') }}">Add Celebrity</a>
		    	</div>
		        <div class="col-md-12">
		            <table class="table table-bulk dataTable" cellspacing="0">
		                <thead class="hidden-xs hidden-sm">
		                    <tr>
		                    	<th>Sr</th>
		                        <th>Celebrity Name</th>
		                        <th>Birthday</th>
		                        <th>Bio</th>
		                        <th>Representative</th>
		                        <th>Action</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    {% if objCelebrity|length > 0 %}
		                    	{% for celebrity in objCelebrity %}
		                        <tr {% if loop.index % 2 == 0 %} style="background-color: lightgrey;" {% endif %}>
		                        	<td>
		                                <b class="visible-xs visible-sm">Sr</b>
		                                <div>
		                                    {{ loop.index }}
		                                </div>
		                            </td>
		                            <td>
		                                <b class="visible-xs visible-sm">Celebrity Name</b>
		                                <div>
		                                    {{ celebrity.name }}
		                                </div>
		                            </td>
		                            <td>
		                                <b class="visible-xs visible-sm">Birthday</b>
		                                <div>
		                                    {{ celebrity.birthday|date('Y-m-d') }}
		                                </div>
		                            </td>
		                            <td>
		                                <b class="visible-xs visible-sm">Bio</b>
		                                <div>
		                                    {{ celebrity.bio }}
		                                </div>
		                            </td>
		                            <td>
		                                <b class="visible-xs visible-sm">Representative</b>
		                                <div>
		                                	{% set representativeOf =  common_helper.getRepresentative( celebrity.id ) %}
		                                    {{ representativeOf }}
		                                </div>
		                            </td>
		                            <td>
		                              <a href="{{ path('celebrity_update', {'id': celebrity.id()}) }}">
		                              	<i class="fa fa-edit" style="font-size: 20px;margin-right: 5px;"></i>
		                              </a>
		                              <a href="{{ path('celebrity_delete', {'id': celebrity.id()}) }}">
		                              	<i class="fa fa-trash" style="font-size: 20px;"></i>
		                              </a>  
		                            </td>
		                        </tr>
		                    	{% endfor %}
		                    {% else %}
		                    	<tr style="text-align: center;">
		                    		<td colspan="5">
		                    			<span>No data available</span>
		                    		</td>
		                    	</tr>
		                    {% endif %}
		                </tbody>
		            </table>
		        </div>
		    </div>
		</div>
	</div>
{% endblock %}